
body {
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/d9/9a/59/a-enseada-com-mar-aberto.jpg?w=900&h=-1&s=1);
    background-size: cover;
}
#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0F8FF; /* Alice Blue */
    border-radius: 24px;
    margin: 48px auto 28px;
}
h1{
    font-family: "Pacifico", cursive;
    font-size: 60px;
    font-weight: 460;
    font-style: normal;
}
h2, h3, h4, h5, #tituloEG{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}